.blue {
	color: #007bff;
	font-family: Helvetica;
	font-size: 1.4rem;
}

.black {
	color: black;
	font-family: Helvetica;
}

a {
	color: black;
	text-decoration: none;
}

.col-8 {
	margin-left: 8%;
	margin-top: 3%;
}

mark {
	background-color: #ffff45;
}

xmp {
	background-color: #f2f2f2;
	font-size: 1rem;
	color: black;
	font-family: Helvetica;
	width: 48%;
}

pre {
	background-color: transparent;
	font-size: 1rem;
	color: black;
	font-family: Helvetica;
}